@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lora:ital,wght@0,400..700;1,400..700&family=Waterfall&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.butterfly-indicator {
  transition: top 2s linear, left 2s linear;
}
